work/
temp/
.DS_Store
.dft-tutor/
*.xml
*.egg-*
test.html
**/__pycache__/**
*.swp
.codex/
build/
codex.log
static/*/
temp.html
temp2.html
temp_vasp_html/
vasp-html-raw.json
mongodb/
codex/database/espresso-helpdoc/[0-9].[0-9]/**
codex/database/espresso-helpdoc/[0-9].[0-9].[0-9]/**
temp_inputs/
logs/

