{% extends "base.html.j2" %}
{% block body %}
  {% for codex in codexes %}
    <div class="section"
         data-uuid="{{ codex._id }}"
         data-dbversion="{{ codex.dbversion }}"
         data-filetype="{{ codex.filetype }}"
         data-code="{{ codex.code }}">
      <h2>{{ codex.filename }}</h2>
      Detected code <b> {{ codex.code_pretty }} </b> (file type: <tt>{{ codex.filetype }}</tt>)
      <div class="container">
        <div class="row">
          <div class="col-8 p-0">
            <div class="input-file" data-uuid="{{ codex._id }}">
              <pre><code class="language-fortran">
{%-           for section_name, section in codex.tags.items(): %}
{%              if section_name %}
{{ codex.section_start_token }}{{ section_name.upper() | e}}
{%              endif %}
{%              for tag in section: %}
{{ codex.indent*codex.pad }}<a href="{{ tag.href }}" class="tag-link" data-name="{{ tag.id }}" data-section="{{ section_name }}">{{ tag.name }}</a>{{ tag.tag_pad*codex.pad }}={{ tag.value_pad*codex.pad }}{{ tag.value }}{{ tag.comment_pad*codex.pad }}{{ codex.comment_token }}{{ tag.comment }}
{%              endfor %}
{%              if codex.section_end_token %}
{{ codex.section_end_token }}
{%              endif %}
{%             endfor %}
{%             if codex.cards -%}
{{ codex.cards }}
{%-             endif %}
</code></pre>
            </div>
          </div>
          <div class="col-4 p-0">
            <div class="preview px-2 mx-3 my-2" data-uuid={{ codex._id }}>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock body %}
{% block scripts %}
  <script src="{{ url_for('static',filename='codex.js') }}"></script>
  <script src="{{ url_for('static',filename='prism.js') }}"></script>
{% endblock scripts %}
