{% extends "base.html.j2" %}
{% block body %}
    <div class="container is-centered">
        <form method="post"
              enctype="multipart/form-data"
              action="{{ url_for("main.index") }}">
            <div class="row mb-3">
                <label for="dftInputFile" class="col-form-label col-md-2">Input File</label>
                <div class="col-md-10">
                    <input class="form-control"
                           type="file"
                           id="dftInputFile"
                           name="input_file"
                           multiple>
                </div>
            </div>
            <div class="block">
                <ul id="file-list">
                </ul>
            </div>
            <div class="row mb-3">
                <label for="codeSelector" class="col-form-label col-md-2">Code</label>
                <div class="col-md-10">
                    <select class="form-select" name="code" id="codeSelector">
                        <option selected>Quantum ESPRESSO</option>
                        <option>VASP</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="dbversionSelector" class="col-form-label col-md-2">Database Version</label>
                <div class="col-md-10">
                    <select class="form-select" name="dbversion" id="dbversionSelector"></select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock body %}
{% block scripts %}
  <script src="{{ url_for('static',filename='upload.js') }}"></script>
{% endblock scripts %}
