{% extends "base.html.j2" %}
{% block body %}
    {% for codex in codexes %}
        <div class="section">
            <h1 class="subtitle">{{ codex.filename }}</h1>
            Detected code <b> {{ codex.code }} </b> (package: <tt>{{ codex.package }}.x</tt>)
            <div class="container">
                <div class="columns is-variable is-1">
                    <div class="column is-two-thirds m-0">
                        <pre><code class="language-fortran">
{%- for nl, namelist in codex.tags.items(): -%}
&{{ nl.upper() | e}}
{% for tag in namelist: -%}
{{ indent }}<a href="{{ tag.href }}" class="tag-link" id="{{ tag.id }}" data-fileid="{{ codex.fileid }}">{{ tag.name }}</a> = {{ tag.value }}{{ tag.comment }}
{% endfor -%}
/
{% endfor -%}
{{ codex.cards }}
</code></pre>
                    </div>
                    <div class="column">
                        {%- for nl, namelist in codex.tags.items(): -%}
                            {% for tag in namelist: -%}
                                <div class="preview"
                                     id="preview_{{ tag.id }}"
                                     data-fileid="{{ codex.fileid }}">
                                    <object data="{{ url_for('static',filename=tag.preview_href) }}"
                                            class="preview-object"
                                            type="text/html"></object>
                                </div>
                            {% endfor -%}
                        {% endfor -%}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock body %}
{% block scripts %}
<script>
     $(document).ready(function() {
        $('pre').each(function() {
          const code = $(this).find('code').text();
          // $(this).addClass('hljs');
          $(this).prepend('<button class="button is-small is-outlined hljs-copy" style="float:right; cursor:pointer;">Copy</button>');
          $(this).find('.hljs-copy').on('click', function() {
            const $button = $(this);
            $button.text('Copying..');
            navigator.clipboard.writeText(code);
            $button.text('Copied!');
            setTimeout(function() {
              $button.text('Copy');
            }, 1000);
          });
        });
        $('code').each(function() {
            console.log($(this).html());
          });
      }); 
</script>
{% endblock scripts %}
