{% extends "base.html.j2" %}
{% block body %}
    {% for codex in codexes %}
        <div class="section">
            <h2>{{ codex.filename }}</h2>
            Detected code <b> {{ codex.code }} </b> (package: <tt>{{ codex.package }}.x</tt>)
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <pre><code class="language-fortran">
{%- for nl, namelist in codex.tags.items(): -%}
&{{ nl.upper() | e}}
{% for tag in namelist: -%}
{{ indent }}<a href="{{ tag.href }}" class="tag-link" id="{{ tag.id }}" data-fileid="{{ codex.fileid }}">{{ tag.name }}</a>={{ tag.value }}!{{ tag.comment }}
{% endfor -%}
/
{% endfor -%}
{{ codex.cards }}
{# </code></pre>
</div>
<div class="col-4">
{%- for nl, namelist in codex.tags.items(): -%}
{% for tag in namelist: -%}
<div class="preview"
id="preview_{{ tag.id }}"
data-fileid="{{ codex.fileid }}">
<object data="{{ url_for('static',filename=tag.preview_href) }}"
class="preview-object"
type="text/html"></object>
</div>
{% endfor -%}
{% endfor -%}
</div>
</div>
</div>
</div>#}
{% endfor %}
                    {% endblock body %}
                    {% block scripts %}
                        <script>
     $(document).ready(function() {
        $('pre').each(function() {
          const code = $(this).find('code').text();
          $(this).prepend('<button class="btn btn-sm btn-outline-primary code-copy" style="float:right; cursor:pointer;">Copy</button>');
          $(this).find('.code-copy').on('click', function() {
            const $button = $(this);
            navigator.clipboard.writeText(code);

            $button.removeClass('btn-outline-primary').addClass('btn-primary');
            $button.text('Copied!');
            setTimeout(function() {
              $button.text('Copy');
              $button.removeClass('btn-primary').addClass('btn-outline-primary');
            }, 1000);
          });
        });
      }); 
                        </script>
                    {% endblock scripts %}
