<h3>{{ tag_name }}</h3>
<div class="tag-summary">
    <h4>Overview</h4>
    <b>Type</b>: {{ tag.datatype }}
    <br>
    <b>Default</b>:
    {% if tag.default|isinstance("str") -%}
        {{ tag.default }}
        <br>
    {% else %}
        <ul>
            {% for value, explanation in tag.default %}
                <li>
                    <b>{{ value }}</b>: {{ explanation }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if tag.options %}
        <b>Options</b>:
        <ul>
            {% for option, description in tag.options.items() %}
                <li>
                    <b>{{ option }}</b>: {{ description }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if tag.summary %}<b>Summary</b>: {{ tag.summary }}{% endif %}
</div>
<div class="tag-details">
    <h4>Details</h4>
    {{ tag.info }}
</div>