{% extends "base.html.j2" %}
{% block body %}
    {# Rewrite like this https://bulma.io/documentation/form/general/ #}
    <div class="container is-centered">
        <form method="post"
              enctype="multipart/form-data"
              action="{{ url_for("upload") }}">
            <div class="field">
                <label class="label">Input Files</label>
                <div id="dft-file" class="file has-name">
                    <label class="file-label">
                        <input class="file-input" type="file" name="input_file" multiple>
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">Choose a file…</span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="block">
                <ul id="file-list">
                </ul>
            </div>
            <div class="field">
                <label class="label">DFT Code</label>
                <div class="control">
                    <div class="select">
                        <select name="code">
                            <option>Quantum ESPRESSO</option>
                            <option>VASP</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Database Version</label>
                <div class="control">
                    <div class="select">
                        <select name="dbversion">
                            <option>latest</option>
                        </select>
                    </div>
                </div>
            </div>
            <button class="button" type="submit">Submit</button>
        </div>
    </form>
{% endblock body %}
{% block scripts %}
    <script>
$(document).ready(function() {
    const codeSelect = $('select[name="code"]');
    const dbVersionSelect = $('select[name="dbversion"]');

    function updateDbVersionOptions() {
        const selectedCode = codeSelect.val();
        if (selectedCode === 'Quantum ESPRESSO') {
        dbVersionSelect.html(`
            <option>7.2 (latest)</option>
            <option>7.1</option>
            <option>7.0</option>
            <option>6.8</option>
            <option>6.7</option>
        `);
        } else if (selectedCode === 'VASP') {
        dbVersionSelect.html(`
            <option>latest</option>
        `);
        }
    }

    // Update options when page is first created
    updateDbVersionOptions();

    // Update options when code select element is changed
    codeSelect.on('change', updateDbVersionOptions);

  const fileInput = $('#dft-file input[type=file]');
  fileInput.on('change', function() {
    if (fileInput[0].files.length > 0) {
      const fileList = $('#file-list');
      fileList.empty();
      for (let i = 0; i < fileInput[0].files.length; i++) {
        fileList.append(`<li>${fileInput[0].files[i].name}</li>`);
      }
    }
  });
});
    </script>
{% endblock scripts %}
