<div class="container codex-calc px-0" data-cdxid="{{ calc._id }}">
  {%- if depth > 0 -%}
    {%- with codex=calc, codex_type="file" -%}
      {% include "controls.html.j2" %}
    {%- endwith -%}
  {%- endif -%}
  {%- if codex.readme and depth > 0 -%}
    <div class="container py-4 my-2 bg-body rounded">
      <h3>README</h3>
      {{ codex.readme }}
    </div>
  {% endif %}
  <div class="accordion" id="accordion-{{ calc._id }}">
    {% for file in calc.files %}
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button {{ 'collapsed' if loop.index > 1 }}"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#accordionCollapse-{{ file._id }}"
                  aria-expanded="true"
                  aria-controls="accordionCollapse-{{ file._id }}">
            <tt>{{ file.filename }}</tt>&nbsp<span class="badge bg-success">{{ file.filetype | format_filetype(calc.code) }}</span>&nbsp<span class="badge bg-secondary">{{ file._id }}</span>
          </button>
        </h2>
        <div id="accordionCollapse-{{ file._id }}"
             class="accordion-collapse collapse {{ 'show' if loop.index == 1 }}"
             data-bs-parent="#accordion-{{ calc._id }}">
          <div class="accordion-body px-1 py-1">
            {%- with depth = depth+1 -%}
              {% include "file_body.html.j2" %}
            {%- endwith -%}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
