{#<div class="btn-group {{ 'd-flex justify-content-end' if codex_type == 'file' and depth != 0 else 'float-end' }} mx-3"#}
<div class="btn-group mx-3 float-end control-buttons"
     role="group"
     aria-label="Controls"
     data-cdxid="{{ codex._id }}">
    <input type="checkbox"
           class="btn-check show-comments"
           id="btn-show-comments-{{ codex._id }}"
           checked
           autocomplete="off">
    <label class="btn btn-outline-primary"
           for="btn-show-comments-{{ codex._id }}">Hide Comments</label>
    <div class="btn-group" role="group">
        <button type="button"
                class="btn btn-primary dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false">Download/Share</button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item copy-link" href="#">Copy Link</a>
            </li>
            <li>
                <a class="dropdown-item copy-id" href="#">Copy ID</a>
            </li>
            <li>
                <a class="dropdown-item copy-contents" href="#" {{ 'hidden' if codex_type != 'file' }}>Copy Contents</a>
            </li>
            <li>
                <a class="dropdown-item download-codex" href="#">Download</a>
            </li>
        </ul>
    </div>
</div>
