<div class="container codex-file bg-body py-3 px-3 rounded"
     data-cdxid="{{ file.cdxid }}"
     data-dbversion="{{ file.dbversion }}"
     data-filetype="{{ file.filetype }}"
     data-code="{{ file.code }}">
    <div class="row">
        {%- if depth > 0 -%}
            <div class="col"></div>
        {%- endif -%}
        <div class="col">
            <nav aria-label="processed-or-raw-file">
                <ul class="pagination justify-content-center">
                    <li class="page-item active">
                        <span class="page-link file-select"
                              data-displaytype="processed">Processed</span>
                    </li>
                    <li class="page-item">
                        <span class="page-link file-select"
                              data-displaytype="raw">Raw</span>
                    </li>
                </ul>
            </nav>
        </div>
        {%- if depth > 0 -%}
            {%- with codex=file, codex_type="file" -%}
                <div class="col">{% include "controls.html.j2" %}</div>
            {%- endwith -%}
        {%- endif -%}
    </div>
    <div class="container file-container"
         data-displaytype="processed">
        <div class="row">
            <div class="col-8 p-0">
                <div class="input-file">{% include "input_file.html.j2" %}</div>
            </div>
            <div class="col-4 p-0">
                <div class="preview border border-1 border-secondary-subtle rounded px-2 mx-3 my-2">
                </div>
            </div>
        </div>
    </div>
    <div class="container file-container"
         data-displaytype="raw">
        <pre><code class="language-fortran">{{ file.raw_file }}</code></pre>
    </div>
</div>
