{% extends "base.html.j2" %}
{% block title %}
    {{ config.NAME }}
{% endblock title %}
{% block body %}
    <div class="container py-3">
        <strong>Welcome to Codex! Upload your files or enter a cdx-id to get started.</strong>
    </div>
    <div class="container bg-body-secondary px-3 py-3 m-4">
        <h2>Upload</h2>
        <form method="post"
              enctype="multipart/form-data"
              action="{{ url_for("main.build_codex") }}">
            <div class="row mb-3">
                <label for="dftInputFile" class="col-form-label col-md-2">Input File</label>
                <div class="col-md-10">
                    <input class="form-control"
                           type="file"
                           id="dftInputFile"
                           name="input_file"
                           multiple>
                </div>
            </div>
            <div class="block">
                <ul id="file-list">
                </ul>
            </div>
            <div class="row mb-3">
                <label for="codeSelector" class="col-form-label col-md-2">Code</label>
                <div class="col-md-10">
                    <select class="form-select" name="code" id="codeSelector">
                        <option selected>Quantum ESPRESSO</option>
                        <option>VASP</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="dbversionSelector" class="col-form-label col-md-2">Database Version</label>
                <div class="col-md-10">
                    <select class="form-select" name="dbversion" id="dbversionSelector"></select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="codex-name"
                       class="col-form-label col-md-2"
                       id="codex-name-label">Name</label>
                <div class="col-md-10">
                    <input type="text"
                           class="form-control"
                           placeholder="My Codex Name (optional)"
                           aria-label="codex-name"
                           aria-describedby="codex-name-label"
                           id="cdxid-named"
                           name="name">
                </div>
            </div>
            <div class="row mb-3">
                <label for="codex-desc"
                       class="col-form-label col-md-2"
                       id="codex-desc-label">Description</label>
                <div class="col-md-10">
                    <textarea class="form-control"
                              placeholder="Some description (optional)"
                              aria-label="codex-desc"
                              aria-describedby="codex-desc-label"
                              id="cdxid-desc"
                              rows="5"
                              name="readme"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <h4 class="display-4 text-center">OR</h4>
    <div class="container bg-body-secondary px-3 py-3 m-4">
        <h2>cdx-id</h2>
        <form method="get" action="{{ url_for("main.build_codex") }}">
            <div class="row mb-3">
                <label for="cdxid-input" class="col-form-label col-md-2" id="cdx-id-label">cdx-id</label>
                <div class="col-md-10">
                    <input type="text"
                           class="form-control"
                           placeholder="cdx-vwIZhkqlI5JQ"
                           aria-label="cdx-id"
                           aria-describedby="cdxid-label"
                           id="cdxid-input"
                           name="cdxid">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock body %}
{% block scripts %}
    <script src="{{ url_for('static',filename='upload.js') }}"></script>
{% endblock scripts %}
